In [1]:
# Dependencies and Setup
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd
from selenium import webdriver

In [2]:
# Nasa Mars News

In [3]:
# Set up Chromedriver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
# Visit the NASA Mars News Site
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [5]:
# Parse Results HTML with BeautifulSoup
html = browser.html
soup_setup = BeautifulSoup(html, "html.parser")
slide_setup = soup_setup.select_one("ul.item_list li.slide")
slide_setup.find("div", class_="content_title")

<div class="content_title"><a href="/news/8654/how-nasas-perseverance-mars-team-adjusted-to-work-in-the-time-of-coronavirus/" target="_self">How NASA's Perseverance Mars Team Adjusted to Work in the Time of Coronavirus </a></div>

In [6]:
# Scrape the Latest News Title
news_title = slide_setup.find("div", class_="content_title").get_text()
print(news_title)

How NASA's Perseverance Mars Team Adjusted to Work in the Time of Coronavirus

In [7]:
# Scrape the Latest Paragraph Text
news_p = slide_setup.find("div", class_="article_teaser_body").get_text()
print(news_p)

Like much of the rest of the world, the Mars rover team is pushing forward with its mission-critical work while putting the health and safety of their colleagues and community first.

In [8]:
browser.quit()

In [9]:
# JPL Mars Space Images - Featured Image

In [10]:
# Set up Chromedriver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [11]:
# Visit the url for JPL Featured Space Image
nasa_images_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(nasa_images_url)

In [12]:
# Click on Full (Featured Space) Image 
full_image_path = browser.find_by_id("full_image")
full_image_path.click()

In [13]:
# Click on 'More Info'
browser.is_element_present_by_text("more info", wait_time=1)
more_info_element = browser.links.find_by_partial_text("more info")
more_info_element.click()

In [14]:
# Parse Results HTML with BeautifulSoup
html = browser.html
image_soup = BeautifulSoup(html, "html.parser")

In [15]:
# Get Full JPG Featured Space Image Path 
featured_image_url = image_soup.select_one("figure.lede a img").get("src")
featured_image_url

'/spaceimages/images/largesize/PIA15256_hires.jpg'

In [16]:
# Create HTML for Full JPG Featured Space Image
featured_image_url = f"https://www.jpl.nasa.gov{featured_image_url}"
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA15256_hires.jpg

In [17]:
browser.quit()

In [18]:
# Mars Weather

In [19]:
# Set up Chromedriver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [20]:
# Visit the Mars Weather Twitter Account
mars_weather_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(mars_weather_url)

In [21]:
# Parse Results HTML with BeautifulSoup
html = browser.html
mars_weather_soup = BeautifulSoup(html, "html.parser")

In [22]:
# Scrape Twitter Account for Latest Tweet
mars_weather = mars_weather_soup.find("p", class_="tweet-text").text
print(mars_weather)

AttributeError: 'NoneType' object has no attribute 'text'

In [23]:
browser.quit()

In [24]:
# Mars Facts

In [25]:
# Visit the Mars Facts Site and Use Pandas to Scrape the Table Containing Facts about the Planet
mars_facts = pd.read_html("https://space-facts.com/mars/")[0]
mars_facts.columns = ["Parameter", "Values"]
mars_facts.set_index(["Parameter"])

                                             Values
Parameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 Ã— 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 Â°C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [26]:
# Use Pandas to Convert the Data to a HTML Table String
html_table = mars_facts.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Parameter</th>\n      <th>Values</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 Ã— 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 Â°C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [27]:
# Replace values
html_table = html_table.replace("\n", "")
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Parameter</th>      <th>Values</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 Ã— 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 Â°C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [28]:
# Mars Hemispheres

In [29]:
# Set up Chromedriver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [30]:
# Visit the USGS Site
usgs_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(usgs_url)

In [33]:
# Click Each of the Links to the Hemispheres in Order to Find the Image URL to the Full Image

hemisphere_image_urls = []

# Get a List of All the Hemispheres
links = browser.find_by_css("a.product-item h3")
for item in range(len(links)):
    hemisphere = {}
    
    # Find Element on Each Loop to Avoid a Stale Element Exception
    browser.find_by_css("a.product-item h3")[item].click()
    
    # Find Sample Image and Extract <href>
    sample_element = browser.links.find_by_text("Sample").first
    hemisphere["img_url"] = sample_element["href"]
    
    # Get Hemisphere Title
    hemisphere["title"] = browser.find_by_css("h2.title").text
    
    # Append Hemisphere Object to List
    hemisphere_image_urls.append(hemisphere)
    
    # Navigate Backwards
    browser.back()

In [34]:
# Print Image URLs
hemisphere_image_urls

[{'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [35]:
browser.quit()